body {
    margin: 0;
    padding: 0;
}

.form {
    width: 1000px;
    margin: auto;
}

.backbutton {
    margin: 0px;
    padding: 0;
    background-color: rgb(28, 151, 28);
}

.submitbutton {
    height: 60px;
    width: 500px;
    background-color: rgb(2, 34, 2);
    margin: 30px 0;
    border-radius: 20px;
}

.button-text {
    color: white;
    text-decoration: none;
}